body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkslategrey;
    background-image: url('../images/Clouds-2.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h4.card-title{
    font-family: 'Playfair Display', serif;
    color:antiquewhite;
}
div.card-text{
    font-family: 'Titillium Web', sans-serif;
    color:antiquewhite;
}
span.float-right{
    font-family: 'Titillium Web', sans-serif;
    color:antiquewhite;
}
div.body-content h2{
    color:antiquewhite;
    font-family: 'Source Sans Pro', sans-serif;
}
.colBorder {
    border:1px dotted black;
}
div.container.body-content {

}
